<section id="modals">
    <div class="modal fade" id="connection_info" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                            >
                        <span>&times;</span>
                    </button>
                    <h3 class="modal-title"
                        id="connection_modal_title">
                        Connection Info
                    </h3>
                </div>
                <div class="modal-body">
                    <h3>Infrastructure Addresses</h3>
                    <div class="responsive-table">
                        <table class="table table--bordered">
                        <thead>
                        <tr>
                            <th scope="col">Device</th>
                            <th scope="col">IP Address</th>
                            <th scope="col">Credentials</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{userData.CSP1-Name}}</td>
                            <td>{{userData.CSP1-IP}}</td>
                            <td>student/C!sco.123</td>
                        </tr>
                        <tr>
                            <td>{{userData.CSP2-Name}}</td>
                            <td>{{userData.CSP2-IP}}</td>
                            <td>student/C!sco.123</td>
                        </tr>
                        <tr>
                            <td>{{userData.CSP3-Name}}</td>
                            <td>{{userData.CSP3-IP}}</td>
                            <td>student/C!sco.123</td>
                        </tr>
                        <tr>
                            <td>{{userData.CSP4-Name}}</td>
                            <td>{{userData.CSP4-IP}}</td>
                            <td>student/C!sco.123</td>
                        </tr>
                        <tr>
                            <td>SAE-N9372-3</td>
                            <td>10.1.60.233</td>
                            <td>{{userData.Nexus-User}}/cisco.123</td>
                        </tr>
                        <tr>
                            <td>SAE-N9372-4</td>
                            <td>10.1.60.234</td>
                            <td>{{userData.Nexus-User}}/cisco.123</td>
                        </tr>
                        <tr>
                            <td>SAE-NSO-1</td>
                            <td>10.1.60.31</td>
                            <td>student/cisco.123</td>
                        </tr>
                        </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <h3>VNF Addresses</h3>
                        <div class="responsive-table">
                            <table class="table table--bordered">
                            <tbody>
                            <tr>
                                <td>Device</td>
                                <td>IP Address</td>
                                <td>Credentials</td>
                            </tr>
                            <tr>
                                <td>{{userData.Client-Name}}</td>
                                <td>{{userData.Client-mgmtIP}}</td>
                                <td>root/cisco.123</td>
                            </tr>
                            <tr>
                                <td>{{userData.Server-Name}}</td>
                                <td>{{userData.Server-mgmtIP}}</td>
                                <td>root/cisco.123</td>
                            </tr>
                            <tr>
                                <td>{{userData.StudentCSR-Name}}</td>
                                <td>{{userData.StudentCSR-mgmtIP}}</td>
                                <td>admin/cisco.123</td>
                            </tr>
                            <tr>
                                <td>{{userData.StudentASA-Name}}</td>
                                <td>{{userData.StudentASA-mgmtIP}}</td>
                                <td>admin/cisco.123</td>
                            </tr>
                            </tbody>
                            </table></div>
                        <p>&nbsp;</p></div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default dismiss"
                            data-dismiss="modal"
                            >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="physical_infrastructure" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                            >
                        <span>&times;</span>
                    </button>
                    <h3 class="modal-title"
                        id="physical_infrastructure_modal_title">
                        Physical Infrastructure
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="modal-image">
                        <img src="/images/s{{userData.Number}}-PHYtopology.jpg">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default dismiss"
                            data-dismiss="modal"
                            >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="virtual_infrastructure" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                            >
                        <span>&times;</span>
                    </button>
                    <h3 class="modal-title"
                        id="virtual_infrastructure_modal_title">
                        Virtual Infrastructure
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="modal-image">
                        <img src="/images/VNFtopology.jpg">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default dismiss"
                            data-dismiss="modal"
                            >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="session_info" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                        <span>&times;</span>
                    </button>
                    <h3 class="modal-title"
                        id="session_info_modal_title">
                        Session Owners
                    </h3>
                </div>
                <div class="modal-body">
                    <p>
                        This session was jointly-developed by Cisco Services, Cisco Sales and Cisco TAC. The lab was
                        built and is hosted by Solution Validation Services in RTP, while the presentation and lab guide
                        were designed and co-authored by members of each organization.
                    </p>
                    <div class="table-responsive">
                        <table class="table table--bordered">
                            <tbody>
                            <tr>
                                <th>Name</th>
                                <th>Title</th>
                                <th>Organization</th>
                            </tr>
                            <tr>
                                <td>Andrew Horrigan</td>
                                <td>Network Consulting Engineer</td>
                                <td>SVS</td>
                            </tr>
                            <tr>
                                <td>Rebecca Zhu</td>
                                <td>Technical Leader Services</td>
                                <td>SVS</td>
                            </tr>
                            <tr>
                                <td>Matthew Wronkowski</td>
                                <td>Technical Leader Services</td>
                                <td>TAC</td>
                            </tr>
                            <tr>
                                <td>Jim French</td>
                                <td>Distinguished System Engineer</td>
                                <td>Sales</td>
                            </tr>
                            <tr>
                                <td>Cory Withers</td>
                                <td>Software Engineer</td>
                                <td>SVS</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default dismiss"
                            data-dismiss="modal"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>